/* tablets en adelante */
@media only screen and (min-width:768px){
    .d-md-block{
        display: block;
    }
    .d-md-flex{
        display: flex;
    }
    .justify-md-content-center{
        justify-content: center;
    }
    .justify-md-content-evenly{
        justify-content: space-evenly;
    }
    .w-md-70{
        width: 70%;
    }
    .formy-md-h{
        max-height: 750px;
    }
}

/* solo celulares */
@media only screen and (max-width:767px){
    .mt-xs-4{
        margin-top: 4rem;
    }
    .border-right-white{
        border-right: none 0px;
    }
    .p-xs-1{
        padding: 1rem;
    }
    .roll-testimonials .whisper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .w-xs-100{
        width: 100%;
    }
    .footer-widgets {
        padding:0px;
    }
    .pb-xs-4{
        padding-bottom: 4rem;
    }
    .formy-xs-h{
        max-height: 1000px;
    }
}

/* celulares y tablets */
@media only screen and (max-width:992px){
    .mt-xt-4{
        margin-top: 4rem;
    }
}

/* tablet grande */
/* celulares y tablets */
@media only screen and (min-width:992px) and (max-width:1199px){
    .w-xl-60{
        width: 60%;
    }
}


/* laptop */
@media only screen and (min-width:1024px){
    /* margen en el menu arriba y abajo */
    .site-header {
        padding: 0px;
    }
    .site-header.float-header {
        padding: 0px;
    }  
    .d-xl-block{
        display: block;
    }
    .border-right-white{
        border-right: white 5px solid;
    }
}

/* PC */
@media only screen and (min-width:1200px){
    .d-xlg-block{
        display: block;
    }
    .p-xlg-6{
        padding-top: 6rem;
    }
    .w-xlg-82{
        width: 82%;
    }
}






